.Rproj.user
.Rhistory
.RData
.Ruserdata
roads/data/oproad_gb.gpkg
Raster_12_small.jpg
water/data/opmplc_gb.gpkg
water/.DS_Store
water/doc/licence.txt
water/readme.txt
borough/Data/GB/district_borough_unitary_region.dbf
borough/Data/GB/district_borough_unitary_region.prj
borough/Data/GB/district_borough_unitary_region.shp
grid/Cable.cpg
grid/Cable.dbf
grid/Cable.prj
grid/Cable.sbn
grid/Cable.sbx
grid/Cable.shp
grid/Cable.shp.xml
grid/Cable.shx
grid/Cable.zip
London Train Lines.kml
green/OS Open Greenspace (GPKG) GB/data/opgrsp_gb.gpkg
green/OS Open Greenspace (GPKG) GB/doc/licence.txt
green/OS Open Greenspace (GPKG) GB/readme.txt
borough/Data/GB/district_borough_unitary_region.shx
grid/Gas_Pipe.dbf
grid/Gas_Pipe.prj
grid/Gas_Pipe.shp
grid/Gas_Pipe.shp.xml
grid/Gas_Pipe.shx
grid/Gas_Pipe.zip
grid/Gas_Site.prj
grid/Gas_Site.shp
grid/Gas_Site.shp.xml
grid/Gas_Site.dbf
grid/Gas_Site.shx
grid/Gas_Site.zip
grid/Substations.cpg
grid/OHL.dbf
grid/OHL.sbx
grid/OHL.shp.xml
grid/OHL.shp
grid/OHL.sbn
grid/OHL.prj
grid/OHL.zip
grid/Towers.cpg
grid/Substations.zip
map/Countries__December_2016__Boundaries_GB_BFC_V2.prj
map/Countries__December_2016__Boundaries_GB_BFC_V2.shp
map/Countries__December_2016__Boundaries_GB_BFC_V2.dbf
map/Countries__December_2016__Boundaries_GB_BFC_V2.cpg
map/Countries__December_2016__Boundaries_GB_BFC_V2.shx
map/Countries__December_2016__Boundaries_GB_BFC_V2.xml
naptan/StopsInArea.csv
naptan/Flexible.csv
naptan/CoachReferences.csv
naptan/AlternativeDescriptors.csv
naptan.zip
naptan/LocalityMainAccessPoints.csv
naptan/MetroReferences.csv
naptan/HailRide.csv
naptan/FerryReferences.csv
naptan/StopAreas.csv
naptan/StopLocalities.csv
naptan/RailReferences.csv
naptan/StopPlusbusZones.csv
names/DATA/TV48.csv
names/DATA/TR26.csv
names/DATA/TR22.csv
names/DATA/TR06.csv
names/DATA/TR04.csv
names/DATA/TR08.csv
names/DATA/TR24.csv
names/DATA/TR44.csv
names/DATA/TR02.csv
names/DATA/TR46.csv
names/DATA/TR00.csv
names/DATA/TQ88.csv
names/DATA/TR66.csv
names/DATA/TQ80.csv
names/DATA/TQ66.csv
names/DATA/TQ62.csv
names/DATA/TQ64.csv
names/DATA/TQ68.csv
names/DATA/TQ82.csv
names/DATA/TQ48.csv
names/DATA/TQ44.csv
names/DATA/TQ42.csv
naptan/AirReferences.csv
naptan/AreaHierarchy.csv
naptan/StopAvailability.csv
names/DATA/TV28.csv
names/DATA/TV44.csv
names/DATA/TV68.csv
names/DATA/TQ26.csv
names/DATA/TQ22.csv
names/DATA/TQ20.csv
names/DATA/TQ08.csv
names/DATA/TQ06.csv
names/DATA/HP40.csv
names/DATA/HT82.csv
names/DATA/HU04.csv
names/DATA/HU06.csv
names/DATA/HU20.csv
*.csv
*.kml
*.gml
*.gfs
30DayMapChallenge.Rproj
map.zip
.DS_Store
Rplot.png
